:root {
    font-size: 10px;
}

body {
    font-family: "Segoe UI", sans-serif;
    font-size: 1.6rem;
    line-height: 2.1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Canaro", sans-serif;
}

input, textarea, select {
    font-family: "Effra", sans-serif;
}